input[type =text]{

width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size : 50%;
  border: 2px solid blue;
    border-radius: 4px;
}

*{

background color: light blue:

}
*::selection{
  background: ;
  color: #fff;

}